
/* Animações scroll*/

[data-anima]{
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"]{
transform: translate3d(-50px,0,0);/*x y z*/
}

[data-anima="direita"]{
    transform: translate3d(50px,0,0);/*x y z*/
    }

    [data-anima="centro"]{
        transform: translate3d(0,50px,0);/*x y z*/
        }

        [data-anima].animacao{
            opacity: 1;
            transform: translate3d(0,0,0);
        }


        ::-webkit-scrollbar{
            width: 10px;
           }
           ::-webkit-scrollbar-track{
          background-color: #212529;
           }

           /*::-webkit-scrollbar-button{
            background-color: #000;
             }*/

             ::-webkit-scrollbar-thumb{
              background-color: rgb(61, 61, 61);
              border-radius: 10px;
               }

               ::-webkit-scrollbar-thumb:hover{
                background-color: rgb(102, 102, 102);
                 }
