  
/* Animações scroll*/

[data-anima]{
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"]{
transform: translate3d(-50px,0,0);/*x y z*/
}

[data-anima="direita"]{
    transform: translate3d(50px,0,0);/*x y z*/
    }

    [data-anima="centro"]{
        transform: translate3d(0,50px,0);/*x y z*/
        }

        [data-anima].animacao{
            opacity: 1;
            transform: translate3d(0,0,0);
        }
 